<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../_css/style.css" />
    <meta charset="utf-8">
    <title>Page 3</title>
</head>
<body>
    <h1>Page 3</h1>

    <div>
    <button id="id-1"><a href="/">Home</a></button>
    <button id="id-2"><a href="/page1">Page 1</a></button>    
    <button id="id-3"><a href="/page2">Page 2</a></button>
</div>

    <h2>Texto 3</h2>

    <p>
        <b>Donec iaculis </b>
        turpis ac imperdiet vehicula. Phasellus ornare sapien nec erat laoreet tristique. Ut quis ligula mi. Sed id volutpat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare odio vitae risus vulputate hendrerit. Donec sodales ultrices erat, ac tristique neque tincidunt id. Duis eget molestie tortor. Aliquam hendrerit orci vitae tellus tincidunt, eu placerat libero posuere    </p>

    <p>
        Suspendisse mollis augue elit, nec ultrices eros elementum non. Phasellus at diam dui. Sed viverra sollicitudin libero, ut ullamcorper lectus tempus sit amet. In vitae libero arcu. Duis luctus aliquet pharetra. Aliquam facilisis, nibh ut eleifend laoreet, tortor mi dapibus augue, sed mattis est mi vitae magna. In elit erat, consectetur sit amet lobortis a, molestie nec ipsum. Nunc tempus est vel suscipit ornare. Aenean feugiat, ligula ac vehicula tincidunt, dolor magna malesuada ligula, ac cursus neque felis eget libero. Integer luctus feugiat justo, quis pretium ante ultrices a. Donec cursus feugiat fringilla.

Nulla facilisi. Donec ipsum orci, semper at massa sed, cursus maximus leo. Nulla a urna ut metus tincidunt luctus. Nam aliquam, erat eget pellentesque mollis, massa est posuere lacus, sit amet imperdiet est tortor sed libero. Sed sodales commodo arcu quis mattis. Proin suscipit pellentesque dui vel pharetra. Mauris nunc velit, varius vel justo et, rhoncus rutrum odio. Donec bibendum, metus ut interdum cursus, ex nibh dapibus lorem, et gravida lacus nulla in enim.

Morbi sed enim at justo tristique tempor vel eu turpis. In sit amet justo non tellus vestibulum finibus id at justo. Aliquam leo eros, viverra sed varius eget, sollicitudin vel quam. Integer molestie, lacus non porttitor maximus, nulla purus vulputate est, vel dignissim dui odio condimentum dui. Etiam ante quam, semper eu dignissim fringilla, ornare id nulla. Duis fermentum tortor libero, vitae consequat urna mollis a. Donec eu felis varius purus fermentum tincidunt. Aliquam venenatis magna nec quam cursus rutrum. Nulla facilisi. Proin ac enim ultricies, pulvinar velit sed, iaculis ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam porttitor dolor justo, eu venenatis magna dignissim eget.
    </p>    
    <h3>Referências</h3>

    <p>
        Praesent bibendum purus quis elit condimentum venenatis. Pellentesque odio eros, tempor ut diam eu, iaculis porttitor nulla.     </p>

    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('generate-sw.js');
    }
    </script>
</body>
</html>