<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <meta charset="utf-8">
    <title>Page 2</title>
</head>
<body>
    <h1>Page 2</h1>

    <div>
    <button><a href="/">Home</a></button>
    <button><a href="/page1">Page 1</a></button>
    <button><a href="/page3">Page 3</a></button>
    </div>
    
    <h2>Texto 2</h2>

    <p>
        <b>Cras id suscipit elit.</b>
         Vivamus semper ligula nec nisi lacinia suscipit sit amet et dui. Donec mattis pharetra urna, sit amet tristique sapien mattis nec. Sed id aliquet ligula. Suspendisse convallis orci a pulvinar viverra. Morbi volutpat odio nisl, ornare euismod justo euismod vel. Proin id sapien et nisi elementum efficitur a sit amet mauris. Cras sodales ipsum quis erat elementum eleifend. Vestibulum in eros rhoncus, rutrum neque et, imperdiet justo. Ut commodo lorem ac pulvinar varius. Nulla placerat et nunc ut vehicula. Nunc et dignissim nibh, in semper tortor. Maecenas mollis feugiat arcu, id commodo elit congue nec.    </p>

    <p>
        Sed pulvinar imperdiet tellus quis mattis. Aenean in accumsan diam. Nulla a posuere metus, id posuere dolor. Mauris accumsan varius turpis eget placerat. Proin id ornare enim. Nulla pretium blandit ornare. Donec ut risus elementum, posuere dui sed, bibendum lectus. Sed varius egestas arcu, vitae porttitor arcu mollis non. Morbi condimentum porta fermentum. Duis ut ex elementum, facilisis mauris ac, porta ipsum. Vestibulum luctus sed lacus lacinia bibendum.

Aliquam pharetra ornare urna a finibus. Nulla facilisi. Integer ullamcorper neque vel dolor ullamcorper euismod. Etiam vitae nibh ut tellus posuere pulvinar eget at justo. Morbi sit amet massa sollicitudin, pretium mauris ut, tempus massa. Fusce ac diam eget ex convallis posuere. Aliquam euismod vitae lorem in consequat. Nulla quis interdum mauris, eu imperdiet nunc. Vestibulum non ullamcorper elit. Vestibulum eget lectus at neque ultricies rutrum vel quis lorem. Aenean commodo tortor ex, sed suscipit velit porttitor quis. Duis odio ipsum, blandit quis dui at, fermentum venenatis tellus. Praesent feugiat erat enim, nec gravida mauris vestibulum ac. Proin ultricies ante et arcu elementum, quis pulvinar lacus elementum. Sed interdum, magna in interdum blandit, libero eros maximus velit, vitae pellentesque diam diam molestie dolor.

Proin vulputate a eros maximus cursus. Praesent fermentum pulvinar magna eu elementum. Maecenas semper leo ac sapien consectetur condimentum. Quisque sed justo nulla. Vestibulum ut nisi euismod, placerat sapien vitae, consectetur magna. Donec vitae posuere felis, a hendrerit enim. Ut id arcu sit amet elit molestie viverra non vitae nisi. Vivamus fermentum dui a pharetra sollicitudin. Duis nec turpis blandit, dignissim nisl a, ullamcorper est. Aliquam et volutpat orci. Aliquam erat volutpat.
    </p>
    <h3>Referências</h3>

    <p>
        Suspendisse tincidunt turpis sit amet ante dignissim suscipit. Vivamus tempus magna ac efficitur vehicula.    </p>
    
    <!--Less-->  
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script>
        less = {
            env: "development" /* pode ser prodution - se for development mostra erros no 
            console */
        }
    </script>    

    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('generate-sw.js');
    }
    </script>
</body>
</html>